<!DOCTYPE html>
<html>
  <head>
    <!-- just some general stuff -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalosian RH Lab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
<meta content="Kalosian Rom-Hacking Lab" property="og:title" />
    <meta content="Le site de référence en terme de rom-hacking. Impossible n'est pas Kalosien." property="og:description" />
    <meta content="https://cdn.discordapp.com/attachments/797393995989909515/827818678929981471/Dragon_originel.png" property="og:url" />
    <meta content="https://media.discordapp.net/attachments/1074433763452403923/1080951088779374632/logo.png" property="og:image" />
    <meta content="#FFFFFF" data-react-helmet="true" name="theme-color" />
  </head>
  <body> <!-- page body goes here -->
    <nav class="navbar navbar-light bg-light">
      <a class="logo" href="/">
        <img src="static/logo.png" alt="logo" height="45" width="45"/>
        <h1>Kalosian RH Lab</h1>
      </a>
      <a class="profile" href="/profile">
        <img src="static/profile.png" title="account" alt="profile" height="50" width="50"/>
      </a>
      <ul>
        <li><a href="/tutos">Tutos</a></li>
        <li><a href="/youtube">Youtube</a></li>
        <li><a href="/discord">Discord</a></li>
      </ul>
    </nav>
    <div style="padding: 20px; margin-top: 50px;"></div>
    <center>
    <h1>{{forum.title}}</h1>
    <h4>Question posée par <span style="color:cornflowerblue;">{{forum.op}}</span> le <span style="color:cornflowerblue;">{{forum.date.replace("Thu","Jeu").replace("Thu","Jeu").replace("Mon","Lun").replace("Wed","Mer").replace("Tue","Mar").replace("Fri","Ven").replace("Sat","Sam").replace("Sun","Dim").replace("Feb","Fév").replace("Apr","Avr").replace("May","Mai").replace("Jun","Juin").replace("Jul","Juill.").replace("Aug","Août")}}</span></h4>
    <p>{{forum.desc}}</p>
    <form method="POST">
      <input name="comment" type="text" placeholder="Répondre" autocomplete="off" style="width: 35% height: 25px; text-size: 15px;">
      <input type="submit">
    </form>
    {% for comment in forum.comments %}
    <p>{{comment.content}} - {{comment.user}}</p>
    {% endfor %}
    </center>
  </body>
  
</html>