<!DOCTYPE html>
<html>
  <head>
    <!-- just some general stuff -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalosian RH Lab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
<meta content="Kalosian Rom-Hacking Lab" property="og:title" />
    <meta content="Le site de référence en terme de rom-hacking. Impossible n'est pas Kalosien." property="og:description" />
    <meta content="https://cdn.discordapp.com/attachments/797393995989909515/827818678929981471/Dragon_originel.png" property="og:url" />
    <meta content="https://media.discordapp.net/attachments/1074433763452403923/1080951088779374632/logo.png" property="og:image" />
    <meta content="#FFFFFF" data-react-helmet="true" name="theme-color" />
  </head>
  <body> <!-- page body goes here -->
    <nav class="navbar navbar-light bg-light">
      <a class="logo" href="/">
        <img src="static/logo.png" alt="logo" height="45" width="45"/>
      </a>
      <a class="profile" href="/profile">
        <img src="static/profile.png" title="account" alt="profile" height="50" width="50"/>
      </a>
      <ul>
        <li><a href="/tutos">Tutos</a></li>
        <li><a href="/youtube">Youtube</a></li>
        <li><a href="/discord">Discord</a></li>
      </ul>
    </nav>
    <div style="padding: 20px; margin-top: 50px;"></div>
    <img src="static/banner.png" class="banner">
      
    <h1>Kalosian RH Lab</h1>
    <center>
    <h4>Le site de référence en terme de rom-hacking!</h4>
    <img src="https://media.discordapp.net/attachments/937794669444747325/1007724821293039686/unknown.png" class="responsive">
    </center>
    <h1>Nos projets</h1>
      <li><h2>Pokémon Le Règlement</h2></li>
    <center><img src="https://i.ibb.co/XbJC85N/unnamed.jpg" class="image"></center>
    <h2>• Pokémon Résurrection</h2>
      <center><img src="https://media.discordapp.net/attachments/797393995989909515/827818678929981471/Dragon_originel.png?width=908&height=1211" class="image"></center>
    <div class="scrollmenu">
      <img src="https://storage.ko-fi.com/cdn/useruploads/display/51f7b903-dc1e-48a0-9497-c4859eab9083_image_2023-01-16_115052913.png" class="image">
    <img src="https://storage.ko-fi.com/cdn/useruploads/display/4bf9e018-eb68-4001-a688-f9e4484cce2b_image_2023-01-30_200208479.png"  class="image">
    <img src="https://media.discordapp.net/attachments/797393995989909515/1069225568421281802/image.png?width=1768&height=1156" class="image">
      <img src="https://media.discordapp.net/attachments/797393995989909515/1068977981319565362/image.png?width=1768&height=1187" class="image">
      <img src="https://media.discordapp.net/attachments/797393995989909515/1069225337650692186/image.png?width=1768&height=1123" class="image">
      <img src="https://media.discordapp.net/attachments/797393995989909515/1066417501992403015/image.png?width=1768&height=1170" class="image">
      <img src="https://storage.ko-fi.com/cdn/useruploads/display/65583070-19b9-4ba1-86bc-b3f2ecc754a2_image_2023-01-29_133957158.png" class="image">
      <img src="https://storage.ko-fi.com/cdn/useruploads/display/f370d551-69a8-4848-bf98-538bbcee68f4_image_2023-01-21_184643760.png" class="image">
      <img src="https://storage.ko-fi.com/cdn/useruploads/display/bb2fb9aa-ca6a-48fb-8c13-fa156da4773e_image_2023-01-16_115850406.png" class="image">
      
      <img src="https://storage.ko-fi.com/cdn/useruploads/display/50a3fedc-9046-49e4-9ae0-669704d64fbd_image_2023-01-16_114603680.png" class="image">
      <img src="https://storage.ko-fi.com/cdn/useruploads/display/e434fa1b-2a7b-4909-b2f2-c96d067b9bb1_image_2023-01-16_114304300.png" class="image">
      <img src="https://storage.ko-fi.com/cdn/useruploads/display/500595e5-1e90-4652-83cc-4fd34fef8bc1_image_2023-01-16_111753492.png" class="image">
      <img src="https://media.discordapp.net/attachments/797393995989909515/1066515242915475466/image.png" class="image">
      <img src="https://media.discordapp.net/attachments/1018962645849751553/1066530939666178128/image.png?width=1832&height=1211" class="image">
      <img class="https://storage.ko-fi.com/cdn/useruploads/display/662bee3d-a7a8-4c29-9567-ad2285d2f5d6_image_2023-01-16_113041610.png" class="image">
      <img src="https://storage.ko-fi.com/cdn/useruploads/display/09d756ab-8628-416b-bd68-3605ba9efb29_image_2023-01-16_115031287.png" class="image">
    </div>
    <center>
  </center>
  </body>
  
</html>