<!DOCTYPE html>
<html>
  <head>
    <!-- just some general stuff -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalosian RH Lab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
<meta content="Kalosian Rom-Hacking Lab" property="og:title" />
    <meta content="Le site de référence en terme de rom-hacking. Impossible n'est pas Kalosien." property="og:description" />
    <meta content="https://cdn.discordapp.com/attachments/797393995989909515/827818678929981471/Dragon_originel.png" property="og:url" />
    <meta content="https://media.discordapp.net/attachments/1074433763452403923/1080951088779374632/logo.png" property="og:image" />
    <meta content="#FFFFFF" data-react-helmet="true" name="theme-color" />
  </head>
  
  <body>
    <center>
    <h1>Connection avec Replit</h1>
    <script authed="javascript:window.history.back();" src="https://auth.util.repl.co/script.js"></script>
    </center>
  </body>
  
</html>
