<!DOCTYPE html>
<html>
  <head>
    <!-- just some general stuff -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalosian RH Lab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
<meta content="Kalosian Rom-Hacking Lab" property="og:title" />
    <meta content="Le site de référence en terme de rom-hacking. Impossible n'est pas Kalosien." property="og:description" />
    <meta content="https://cdn.discordapp.com/attachments/797393995989909515/827818678929981471/Dragon_originel.png" property="og:url" />
    <meta content="https://media.discordapp.net/attachments/1074433763452403923/1080951088779374632/logo.png" property="og:image" />
    <meta content="#FFFFFF" data-react-helmet="true" name="theme-color" />
  </head>
  <body> <!-- page body goes here -->
    <nav class="navbar navbar-light bg-light">
      <a class="logo" href="/">
        <img src="static/logo.png" alt="logo" height="40" width="40"/>
        <h1>Kalosian RH Lab</h1>
      </a>
      <a class="profile" href="/profile">
        <img src="static/profile.png" title="account" alt="profile" height="55" width="55"/>
      </a>
      <ul>
        <li><a href="/tutos">Tutos</a></li>
        <li><a href="/youtube">Youtube</a></li>
        <li><a href="/discord">Discord</a></li>
      </ul>
    </nav>
    <div style="padding: 20px; margin-top: 50px;"></div>
    <center>
    <h1>Notre dernière vidéo</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PNs8nxYx6os" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <h1>Sommaire</h1>
    <span style="cursor:wait"><p>C'est pour bientôt... patience...</p></span>
    </center>
  </body>
  
</html>